<article>
    <figure>
        <img src="img/money.jpg" alt="Money and coins">
        <figcaption>The value of money changes over time</figcaption>
    </figure>
    <div>
        <h2>The Value of Money</h2>
        <p>The value of money whic is a topic that every one needs to be learn. Money is a tool if we use carefully we will suceed in life. W e should learn how to spend money and save money financial management will help both the future and the present.In our daily life our spending tendancy had increased than the saving tendency.</p>
    </div>
</article>

<article>
    <figure>
        <img src="img/gmo.jpg" alt="GMO crops">
        <figcaption>Genetically modified crops in a field</figcaption>
    </figure>
    <div>
        <h2>GMO Food: Benefits and Concerns</h2>
        <p>Genetically modified food have many concerns as well as benefits. It will be easy to produce. There wont be need a hard labour for the maintence.The maintenance will be high.we can produce variety of crops with the help of that which is beneficial for human life.There wont be an issue of climate change.</p>
    </div>
</article>

<article>
    <figure>
        <img src="img/future.jpg" alt="Futuristic city">
        <figcaption>An artist's rendition of a future city</figcaption>
    </figure>
    <div>
        <h2>The View of World in 2100</h2>
        <p>Predicting the world in 2100 it can be realy scary or it will realy advanced with future equipments floating city. It all wil look like a magical city. maybe the physical curreny will change at that time . many of them will lost their job the reason would be AI.New advanced vehicles will be there.</p>
    </div>
</article>
